* {
  margin: 0px;
  padding: 0px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .logo {
    padding: 24.15px 39.99px;
  }

  html,
  body,
  element {
    max-width: 100vw;
    overflow-x: hidden;
  }

  .main {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .lights {
    width: 80%;
    height: 480px;
    top: -104px;
    position: absolute;
    align-self: flex-end;
  }
  .title {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;

    letter-spacing: -0.454545px;

    color: #191826;
    padding: 20px 39.99px;
  }
  .desc {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    padding: 0px 39.99px;
  }
  .preview {
    margin-top: 166px;
    width: 100%;
    height: 380px;
    background-color: #191826;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
  }
  .bg-pattern {
    height: 420px;
    width: 280px;
    margin-top: 40px;
  }
  .phone {
    position: absolute;
    width: 208.97px;
    height: 430px;
    left: 80.67px;
    top: 500px;
  }
  .premium {
    max-width: 100vw;
    height: 100%;
    background-color: #fa7453;
    border-radius: 3%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .premium-outside {
    width: 100%;
    height: 540px;
    background-color: #191826;
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
  }
  .premium-title {
    color: #fcfaf9;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    padding-top: 10%;
  }
  .premium-desc {
    width: 302px;
    height: 140px;
    left: 36px;
    top: 1102px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    padding-top: 8%;
    padding-bottom: 10%;
    /* or 156% */

    color: #fcfaf9;
  }
  .dollar {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 52px;
    padding-left: 2%;

    color: #fcfaf9;
  }
  .month {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    letter-spacing: -0.2px;

    color: #fcfaf9;
    margin-left: 4%;
  }

  .price {
    display: flex;
    align-items: center;
  }
  .btn-IOS {
    color: #fcfaf9;
    background-color: #191826;
    width: 296px;
    height: 61px;
    left: 42px;
    margin-bottom: 4%;
    margin-top: 10%;
    border-radius: 12px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .ios-img {
    padding: 8px;
  }

  .and-img {
    padding: 8px;
  }

  .btn-And {
    color: #191826;
    background-color: #fcfaf9;
    width: 296px;
    height: 61px;
    left: 42px;
    margin-bottom: 5%;
    padding-top: 1px;
    border-radius: 12px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .footer {
    max-width: 100vw;
    height: 397px;
    background-color: #fcfaf9;
    padding-left: 24px;
    padding-top: 64px;
    padding-bottom: 10%;
    max-width: 100vw;
    padding-right: 24px;
  }

  .footer-desc {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
    display: flex;
  }

  .logo-second {
    padding-bottom: 32px;
    display: flex;
  }

  .contact {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #191826;

    display: flex;
  }

  .email {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
    display: flex;
  }
  .social-media {
    padding-top: 15%;
  }
  .social {
    padding-left: 20px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
}
